@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
}

body {
  background-color: #0d1117;
  color: #fff;
  font-family: var(--font-primary);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h3,
h2,
p {
  margin: 0;
}

#search-section,
#profile-section,
#list-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1c2635;
  padding: 2rem;
  border-radius: 10px;
  width: 20%;
  height: 20%;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.search-container input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #1c222b;
  color: #fff;
}

.search-container button {
  padding: 0.59rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  background-color: #1c222b;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-container button:hover {
  background-color: #142844;
}

.logo-container img {
  height: 40px;
  width: 40px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.repo-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.repo-dropdown select,
.filter-container select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #1c222b;
  color: #fff;
}

/* Profile Section */

#profile-section {
  gap: 2rem;
  background-color: #1c2635;
  border-radius: 10px;
  width: 100%;
  margin-inline: auto;
}
#profile-section :nth-child(2) {
  margin: 1rem 0;
}

#profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.links span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.links span a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.links span a:hover {
  color: #58a6ff;
}

/* List Section */

#list-section {
  flex-direction: column;
}

.border-line {
  margin-top: 1rem;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.repo-card {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 0.4fr);
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.repo-card-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: rem;
  padding: 2rem;
  background-color: #1c2635;
  border-radius: 10px;
  margin-top: 0.2rem;
  width: 400px;
  border: #fff 1px solid;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
}

.repo-card-item:hover {
  border: #58a6ff 1px solid;
}

.topics-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.topics {
  background-color: #335c8b;
  padding: 0.5rem;
  font-size: small;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.repo-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* Page section */

#page-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 2rem;
}

.page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#prev-btn,
#next-btn,
.page-btn {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #1c222b;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#prev-btn:hover,
#next-btn:hover,
.page-btn:hover {
  background-color: #142844;
}

#prev-btn:disabled,
#next-btn:disabled {
  background-color: #0d1727;
  color: #fff;
  cursor: not-allowed;
}

.active {
  background-color: #5188d4;
}

@media screen and (max-width: 1200px) {
  body {
    width: 100%;
    display: block;
  }
  .nav {
    flex-direction: column;
    padding: 1rem;
  }
  .options {
    flex-direction: column;
  }
  #profile-section {
    width: 80%;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  #profile-section :nth-child(2) {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
    text-align: center;
  }

  .border-line {
    width: 90%;
  }
  .links {
    margin-top: 0.5rem;
    flex-direction: column;
    gap: 0.2rem;
  }

  .links span img {
    display: none;
  }
  #profile-location {
    margin-top: 0.5rem;
  }
  #profile-image {
    height: 150px;
    width: 150px;
  }
  .repo-card-item {
    width: 80%;
    max-width: 90%;
    padding: 1rem;
    font-size: small;
    justify-self: center;
  }
  .repo-card {
    grid-template-columns: repeat(1, 1fr);
  }
  #page-section {
    padding: 0.5rem;
  }
  .page-button-container {
    width: 90%;
  }
  .page-numbers {
    width: 90%;
    flex-wrap: nowrap;
  }
  #prev-btn,
  #next-btn,
  .page-btn {
    padding: 0.8rem;
  }
  .page-btn {
    padding: 0.8rem;
  }
}
